<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
        <%= render 'shared/stats' %>
    </section>
    <section>
      <%# render 'shared/micropost_form' %>
    </section>
    <section>
      <%= render 'shared/create_todolist'%>
    </section>
  </aside>
  <div class="span8">
    <h3>My Work List</h3>
    <%# render 'shared/feed  %>
    <%= render 'shared/mylist' %>
  </div>
</div>